.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  position: relative;
  overflow: hidden;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 42, 46, 0.364);
  z-index: 0;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
}

.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: var(--color-light--1);
  margin-bottom: 2.5rem;
}

.playButtons {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.playButton {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s;
}

.playButton:hover {
  background-color: #00d175;
  transform: translateY(-2px);
}

.playButtonSecondary {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--color-dark--2);
  color: var(--color-light--2);
  border: 1px solid var(--color-brand--2);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s;
}

.playButtonSecondary:hover {
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  transform: translateY(-2px);
}