.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.textLogo {
  font-weight: bold;
  font-size: 2.5rem;
  /* Adjust size as needed */
  color: #00c46a;
  /* Solid green color */
}